<div class="profile">
  <h1>Hello <%=current_user.username%></h1>

  <%=link_to "Create Recipe", new_recipe_path%>
  <%@recipes.each do |recipe| %>
  <br>
   <%=recipe.categories %>
  <% end %> 


</div>
