<div class="profile">
  <h1>Hello <%=current_user.username%></h1>

  <%=link_to "Create Recipe", new_recipe_path%>
  <%@categories.each do |category| %>
  <br>
   <%=link_to category.name, recipes_path%>
  <% end %> 


</div>
